{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{ post.title }}{% endblock %}




{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">{{ post.title }}</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        {% if post.image %}
        <img src="{{post.image.url }}" class="card-img-top" alt="{{ post.title }}">
        {% else %}
        <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="Default Image">
        {% endif %}
        <div class="card-body text-center">
          <a href="{{ post.youtube_link }}" class="btn btn-danger me-2" target="_blank">
            <i class="fab fa-youtube"></i> YouTube
          </a>
          <a href="{{ post.instagram_link }}" class="btn btn-primary" target="_blank">
            <i class="fab fa-instagram"></i> Instagram
          </a>
          <a href="{{ post.facebook_link }}" class="btn btn-primary" target="_blank">
            <i class="fab fa-facebook"></i> Facebook
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <p class="card-text">{{ post.content|safe }}</p>
        <div class="card-footer text-muted">
          Post created on {{ post.created_on|date:"F d, Y" }}
        </div>
      </div>
    </div>
  </div>
  <!-- Displaying count of comments -->
  <div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ comments_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <!-- Displaying Comments -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3>Comments:</h3>
      <div class="card-body">
        <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
        {% for comment in comments %}
        <div class="p-2 mb-3 comment-card {% if not comment.approved and comment.user == user %}faded{% elif not comment.approved %} d-none{% endif %}">
          <p class="font-weight-bold">
            {{ comment.user }}
            <span class="font-weight-normal">
              {{ comment.created_at|date:"F d, Y" }}
            </span> wrote:
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.text | linebreaks }}
          </div>
          {% if not comment.approved and comment.user == user %}
          <p class="approval">
            This comment is awaiting approval
          </p>
          {% endif %}
          {% if request.user == comment.user %}
            <div class="d-flex justify-content-end">
              <a href="{% url 'edit_comment' comment.pk %}" class="btn btn-sm btn-warning me-2">Edit</a>
              <form method="POST" action="{% url 'delete_comment' comment.pk %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
              </form>
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
   <!-- Creating New Comments -->
   <div class="col-md-4 mb-4 mt-3">
    <div class="card">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form id="comment_form" method="post">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit" class="btn btn-primary w-100 mt-3">Submit</button>
        </form>
        {% else %}
        <p>Log in to leave a comment</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}