{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Cover Image with Gradient Overlay -->
<div class="cover-image gradient-overlay">
    <img src="{% static 'images/hero.jpg' %}" alt="Gujarati Food" class="img-fluid w-100">
    <div class="overlay-content">
        <h1 class="display-3 text-white">Flavors of Gujarat</h1>
        <p class="lead text-white">Savor the Authentic Taste of Tradition</p>
        <a href="#recipes" class="btn btn-light">Start Exploring</a>
    </div>
</div>



<!-- Gujarati Dishes Section -->
<div class="container mt-4">
    <h2 class="text-center mb-4">Popular Gujarati Dishes</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="{% static 'images/bhel.jpg' %}" class="card-img-top" alt="Bhel">
                <div class="card-body">
                    <h5 class="card-title">Bhel</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="{% static 'images/panipuri.jpg' %}" class="card-img-top" alt="Panipuri">
                <div class="card-body">
                    <h5 class="card-title">Panipuri</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="{% static 'images/pav-bhaji.jpg' %}" class="card-img-top" alt="Pav Bhaji">
                <div class="card-body">
                    <h5 class="card-title">Pav Bhaji</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="{% static 'images/dabeli.jpg' %}" class="card-img-top" alt="Dabeli">
                <div class="card-body">
                    <h5 class="card-title">Dabeli</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Displaying Posts Section -->
<div class="container mt-5">
    <h2 class="text-center mb-4">About US</h2>
    <div class="row">
        {% for post in posts %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if post.image %}
                        <img src="#" class="card-img-top" alt="{{ post.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content|truncatewords:20 }}...</p>
                        <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Read More</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted by {{ post.user.username }} on {{ post.created_on|date:"F d, Y" }}
                        
                        <div class="comments mt-3">
                            <h6>Comments:</h6>
                            {% for comment in post.comments.all %}
                                <div class="comment">
                                    <p><strong>{{ comment.author.username }}:</strong> {{ comment.content }}</p>
                                </div>
                            {% empty %}
                                <p>No comments yet.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No posts available.</p>
        {% endfor %}
    </div>
</div>


{% endblock %}
