body {
    background-color: #656C12;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    
}

h1 {
    color: #343a40;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
}

#hero {
    background: url('/static/foodhub/images/hero.jpg') no-repeat center center;
    background-size: cover;
    max-width: 100%;
    max-height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.hero-image img {
    max-width: 100%;
    height: auto;
}

.navbar {
    background-color: ; /* Change this to your desired color */
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #ffffff; /* Change this to your desired text color */
}

.navbar .nav-link:hover {
    color: #cccccc; /* Change this to your desired hover text color */
}

#features, #popular-recipes, #cta {
    padding: 20px 0;
}

#features {
    background-color: #e9ecef;
}

#popular-recipes {
    background-color: #ffffff;
}

#cta {
    background-color: #e9ecef;
    text-align: center;
}